#Td 2

Rappel :
- X = features (input)
- Y = targets (output)

## Split dataset

On doit **Split** notre data set :
- train (70%) : pour entrainer notre model
- test (30%) : pour evaluer le model (il ne sentraine pas ici !)

car on doit voir si le model predit des choses que l'on sait déja.

train X permet d'apprendre et train_Y permet de se corriger
alors qu'a partir de test_X il va predir puis on va évaluer avec test_Y


### sur Python

```python
from sklearn.model_selection import train_test_split
#va nous permettre de split notre data set

X = df.drop(colums='MedhouseVal') #features
y = df['MedhouseVal'] #ttarget (colums predicted)

#train test split
X_train, X_test, y_train, y_test = train_test_split(X,y)
# par defaut le split se fait 70%-30%

# si on fait un .shape on verra que X_test est plus petit
```
## Standard Scaler

On veut des **moyenne = 0** et des **ecart types = 1** car la machine sera plus performante.
On peut donc changer l'echelles de nos valeurs pour avoir ses valeurs

On applique une fonction linéaire = **rescale** pour finalement avoir :
- standard deviation = 1
- mean = 0
dans le data set de train

On apllique tout de meme le rescale sur le dataset de test.

**Remarque :**
- Nos valeurs seront sans units
- Ce n'est pas pour tout les modèles (ca ne marche pas si on veut comparer a une valeur seuil).

### Formule scaler :

$ z = \frac{x - \mu_{train}}{\sigma_{train}} $

avec :
- $x =$ notre valeur rélle que l'on veut rescale
- $\mu_{train} =$ la moyenne réelle
- $\sigma_{train} =$ l'écart type réelle

On utilise `.fit()` en vrai qui permet de calculer ma moyenne... directement

### Sur Python :
```python
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(X_train)

# on retourne la data transformé
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
```

In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

path = '/content/WineQT.csv'

df= pd.read_csv(path)

In [7]:
df # on voit que la colonne id est inutile ?

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,2
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,3
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1592
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1593
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597

In [13]:
df.info() # On voit qu'on a que des entier et float on est content pas d'objet inutile

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1143 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
 12  Id                    1143 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 116.2 KB

In [9]:
df.duplicated() #on voit qu il n'y a rien dedubliquer

0       False
1       False
2       False
3       False
4       False
        ...
1138    False
1139    False
1140    False
1141    False
1142    False
Length: 1143, dtype: bool

In [10]:
df.isna().sum() il n y a pas de nane on est content

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
Id                      0
dtype: int64

Notre dataset est "clean" on peut passer a la suite;

Dans cette exemple on veut predire la qualité du vin, donc la colonne "quality" est notre y.
C'est de type regression car il n y a pas de seuil, on note de 0 a 10.

In [18]:
scaler = StandardScaler()

X = df.drop(columns='quality')
y = df['quality']

X_train, X_test, y_train, y_test = train_test_split(X,y)

X_train_transformed = scaler.transform(X_train)
X_test_transformed = scaler.transform(X_test)

X_test_df = pd.DataFrame(X_test_transformed)
X_train_df = pd.DataFrame(X_train_transformed)

# pour bien voir le tableau on peut faire .describe().round(2)

NotFittedError: This StandardScaler instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.