[texte du lien](https://)# SOLUTION - Train Test Split (Practice)

In [1]:
# import packages
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# Loading from URL for solution

fpath = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTEH1X54IlixiMYZSnF3JzPN385Ku3drmWP8Ur7YgZYMaNgB8koJcj0KvXoiZMMb8ZZDHbSOla8wthF/pub?output=csv"
df = pd.read_csv(fpath)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  int64
 1   HouseAge     20640 non-null  int64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  int64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  int64
dtypes: float64(5), int64(4)
memory usage: 1.4 MB

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,832520,41,6.984127,1.023810,322,2.555556,37.88,-122.23,452600
1,830140,21,6.238137,0.971880,2401,2.109842,37.86,-122.22,358500
2,725740,52,8.288136,1.073446,496,2.802260,37.85,-122.24,352100
3,564310,52,5.817352,1.073059,558,2.547945,37.85,-122.25,341300
4,384620,52,6.281853,1.081081,565,2.181467,37.85,-122.25,342200

In [3]:
# Make X and y
X = df.drop(columns='MedHouseVal') # features
y = df['MedHouseVal'] # target( column predicted)

In [4]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X,y)
X_train.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
15589,535900,16,8.116279,1.720930,120,2.790698,32.97,-116.67
6504,251190,37,3.929293,1.035354,850,4.292929,34.08,-118.06
3,564310,52,5.817352,1.073059,558,2.547945,37.85,-122.25
2532,217050,23,5.133333,1.077778,261,2.900000,39.50,-122.19
8549,440000,44,4.644068,1.016949,480,2.711864,33.88,-118.35

In [5]:
# Check data types (or use X_train.dtypes)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15480 entries, 15589 to 7364
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      15480 non-null  int64
 1   HouseAge    15480 non-null  int64
 2   AveRooms    15480 non-null  float64
 3   AveBedrms   15480 non-null  float64
 4   Population  15480 non-null  int64
 5   AveOccup    15480 non-null  float64
 6   Latitude    15480 non-null  float64
 7   Longitude   15480 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 1.1 MB

In [6]:
# Check for null values
X_train.isna().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [7]:
y_train.head()

15589    193800
6504     180500
3        341300
2532      53000
8549     225800
Name: MedHouseVal, dtype: int64

In [8]:
# checking shape of X_train
X_train.shape

(15480, 8)

In [9]:
# checking the shape of X_test
X_test.shape

(5160, 8)

Finally, compare the shape of the X_train and X_test.