# My note

- Cours : Machine Learning
- Auteur : Théo HUET
- Date : 07/01/2026 - 21/01/2026

---

## Introduction

**programation :** on donne des intructions a la machine et elle donne une output
**machine learning :** la machine s'entraine pour quelle reponde mieux

on va utiliser **kaggle** pour trouver nos datas set.

Type de dataset
- **csv** = separer avec virgules
- **df** = data frame que l'on traite avec pandas

Il existe deux type de machine learning **supervised** et **unsupervised learning**.

- unsupervised = il connait pas la reponse
clustering : on a des données et on veut que la machine les lies entre elle sans forcement qu'il y est detiquette
dimensionality reduction : il doit virer les infos pas importante et garder les importantes

- supervised = on donne le data set et on attend une reponse qu on comparera a l'etiquette.
  Pour le supervised 2 types de problèmes :
  - **regression** (on cherche un nombre)
  - **classification** (si on cherche a classer, oui ou non)

**Features** et **Target**
- les collones en input c'est les features X
- les collonnes en output c'est les targets y

---

Pour exemple on va utiliser un data set sur le vin "WineQT.csv" trouvé sur Kaggle.

## Importer et Visualiser un dataset

In [2]:
import pandas as pd
import numpy as np

path = '/content/WineQT.csv' # chemin pour trouver le dataset

df= pd.read_csv(path) # pour utiliser notre dataset avec pandas

pour visualiser notre data set on a differente commande :
```python
df # affiche le dataset globalement
df.head(8) #permet d afficher les 8 premieres lignes (5 par defaut)
df.tail() #permet d afficher les dernieres lignes (5 par defaut)
df.info() #donne les types des colonnes, le nombre de colonne et ligne...
df.dtypes #donne les types des colonnes

df['notre_colonne'].value_counts() #compte combien de fois les valeurs sont repetées
df.nunique() #nous montre le nombre d'element unique

df.loc[50] # Pour visualiser une ligne (ex : 50)
df['notre_colonne'] # Pour visualiser une colonne
df.loc[50, 'notre_colonne'] # pour voir un element du tableau (ex : ligne 50)
```

---

## Nettoyage

On doit, avant de l'utiliser, le nettoyer, le '**clean**'.

### Remplacer les Nan

Si on trouve des **Nan** dans notre dataset, il faut verifier le type de la colonne.

Pour les trouver :
```python
df.isna().sum()
```

On ne retire surtout pas les lignes où des Nan sont present pour ne pas perdre de data.

En fonction de quel type de colonne on a, nous allons appliquer une methode differente.
Si on veut juste mettre une valeur specifique on peut quand meme :
```python
df['notre_colonne'].fillna(-1, inplace=True) #remplace tout les nan en -1
```

#### colonne type Objet :
prendre la valeur au dessus (ou en dessous).
sur Python :
- `.bfill()` = valeur d'apres
- `.ffill()` = valeur d'avant

```python
df['notre_colonne'].ffill(inplace=True) # ou bfill
```

#### colonne type int ou float :
prendre la **medianne** ou **moyenne**.
sur python :
```python
df['notre_colonne'].fillna(df['notre_colonne'].median(), inplace = True) # ou .mean() pour la moyenne
```

### Transformer les Objets en int/float

Certaine colonnes colonnent peuvent contenir des objets qui sont en réalité des nombres.
Par exemple une colonne de prix `34000€', il faut retirer le "€" :
```python
# Replace the $ by nothing
df['notre_colonne']= df['notre_colonne'].str.replace('$','')
     
# Change the type of the column "Fare" from object(string) to float
df['notre_colonne']= df['notre_colonne'].astype(float)
```

D'autre colonne peuvent etre des Booleens, qui peuvent etre transformer en 0, 1.
Par exemple une colonne de 'Yes', 'No' :
```python
df['notre_colonne']= df['notre_colonne'].replace("Yes", 1)
df['notre_colonne']= df['notre_colonne'].replace("No", 0)
```

### les 'Duplicates'

Certaine lignes sont presentes plusieur fois, on appel cela des 'duplicates'.

```python
df.duplicated().sum() # permet de verifier ou sont les dublicates

df= df.drop_duplicates() # retire les dublicates
```

### En plus

Pour plus de clareté on peut parfois renommer une colonne :
```python
df['SibSp'].rename('Siblings or Spouses')
```
Si une colonne peut etre utiliser comme index il faut d'abord verifier si elle peut bien l'être :
```python
df.nunique() #nous montre le nombre d'element unique
```

si pour une colonne c'est égale au nombre de ligne total, alors on peut l'utiliser comme index avec :
```python
df.set_index('Id', inplace=True)
```

Retirer une colonne (a ne pas utiliser pour eviter de perdre de la data) :
```python
df= df.drop(columns= ['Unnamed: 0']) # ici la colonne est celle des index
```

---

### Verification

Lisons notre dataset et regardons ce qu'il y a à nettoyer.

In [3]:
df # on voit que la colonne id ressemble a une liste d'index

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,1
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,2
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,3
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1592
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1593
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597

In [7]:
print(df.nunique()) # pour verifier si Id peut bien etre utiliser comme index de notre tableau

'''
Il y a bien un nombre de value = nombre de ligne (1143)
On va pouvoir l'utiliser comme index.
'''

fixed acidity             91
volatile acidity         135
citric acid               77
residual sugar            80
chlorides                131
free sulfur dioxide       53
total sulfur dioxide     138
density                  388
pH                        87
sulphates                 89
alcohol                   61
quality                    6
Id                      1143
dtype: int64

"\nIl y a bien un nombre de value = nombre de ligne (1143)\nOn va pouvoir l'utiliser comme index.\n"

In [8]:
df.info() # On voit qu'on a que des entier et float on est content pas d'objet inutile

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1143 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
 12  Id                    1143 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 116.2 KB

In [9]:
df.duplicated().sum() #on voit qu il n'y a rien de dubliquer

np.int64(0)

In [10]:
df.isna().sum() #il n y a pas de nan on est content

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
Id                      0
dtype: int64

---

## Aplication des modifications

Maintenant qu'on a exploré notre dataset, on sait quoi nettoyer, appliquons les modifcations pour le clean.

In [11]:
df.set_index('Id', inplace=True) # on utilise Id comme index

Notre dataset est "clean"
- pas de Nane
- pas de duplicate
- pas de colonne inutile
- pas d'objet qui peuveut etre simplifier en int ou float
- ...

on peut passer a la suite;

---

*Rappel :*
- X = features (input)
- y = targets (output)

## Split

Pour avoir un modele, on doit **Split** notre data set :
- train (70%) : pour entrainer notre model
- test (30%) : pour evaluer le model (il ne sentraine pas ici !)

car on doit voir si le model predit des choses que l'on sait déja.

train_X permet d'apprendre et train_y permet de se corriger.
Alors qu'a partir de test_X il va predir puis on va évaluer avec test_y


### sur Python

Dans cette exemple on veut **predire la qualité** du vin, donc la colonne "quality" est notre y.

C'est de type **regression** car il n y a pas de seuil, on note de 0 a 10.

In [13]:
from sklearn.model_selection import train_test_split
#va nous permettre de split notre data set

X = df.drop(columns='quality') #features
y = df['quality'] #ttarget (colums predicted)

#train test split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, test_size=.3) #test_size=.3 => 70-30%
# par defaut le split se fait 70%-30%

On peut evdiement veriffier que tout soit clean avec les commandes plus haut mais normalement pas besoin.
En revanche, on peut verifier que l'on est pas fait d'erreur sur les pourcentages avec `.shape`.

In [14]:
# si on fait un .shape on verra que X_test est plus petit
X_test.shape
X_train.shape

(800, 11)

---

## Scale

## Standard Scaler

On veut des **moyenne = 0** et des **ecart types = 1** car la machine sera plus performante.
On peut donc changer l'echelles de nos valeurs pour avoir ses valeurs

On applique une fonction linéaire = **rescale** pour finalement avoir :
- standard deviation = 1
- mean = 0
dans le data set de train

On apllique tout de meme le rescale sur le dataset de test.

**Remarque :**
- Nos valeurs seront sans units
- Ce n'est pas pour tout les modèles (ca ne marche pas si on veut comparer a une valeur seuil).

### Formule scaler :

$ z = \frac{x - \mu_{train}}{\sigma_{train}} $

avec :
- $x =$ notre valeur rélle que l'on veut rescale
- $\mu_{train} =$ la moyenne réelle
- $\sigma_{train} =$ l'écart type réelle

### Sur Python :

On utilise `.fit()` qui permet de calculer directement la moyenne...

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(X_train)

# on retourne la data transformé
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

# on retransforme en data frame
X_train_df = pd.DataFrame(X_train_scaled)
X_test_df = pd.DataFrame(X_test_scaled)

In [ ]:
# on peut comparer les moyennes... de nos deux tableaux :
X_train.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00
mean,0.00,0.00,0.00,0.00,0.00,-0.00,0.00,-0.00,0.00,-0.00,-0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-2.16,-2.30,-1.37,-1.24,-1.61,-1.44,-1.28,-3.51,-3.80,-1.59,-1.91
25%,-0.68,-0.73,-0.91,-0.47,-0.36,-0.85,-0.79,-0.61,-0.69,-0.64,-0.88
50%,-0.20,-0.05,-0.07,-0.24,-0.16,-0.17,-0.24,-0.02,0.03,-0.23,-0.22
75%,0.45,0.62,0.81,0.07,0.07,0.52,0.53,0.59,0.56,0.43,0.62
max,4.36,5.91,3.82,10.04,11.29,5.12,3.87,3.45,4.60,7.98,3.34

In [ ]:
# pour bien voir le tableau on peut faire .describe().round(2) qui permet d'arrondir tout a 2 decimales
X_train_df.describe().round(2)

,0,1,2,3,4,5,6,7,8,9,10
count,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00
mean,0.00,0.00,0.00,0.00,0.00,-0.00,0.00,-0.00,0.00,-0.00,-0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-2.16,-2.30,-1.37,-1.24,-1.61,-1.44,-1.28,-3.51,-3.80,-1.59,-1.91
25%,-0.68,-0.73,-0.91,-0.47,-0.36,-0.85,-0.79,-0.61,-0.69,-0.64,-0.88
50%,-0.20,-0.05,-0.07,-0.24,-0.16,-0.17,-0.24,-0.02,0.03,-0.23,-0.22
75%,0.45,0.62,0.81,0.07,0.07,0.52,0.53,0.59,0.56,0.43,0.62
max,4.36,5.91,3.82,10.04,11.29,5.12,3.87,3.45,4.60,7.98,3.34